{% extends 'layout.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-3">
        <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form method="POST" action="/login">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                <p class="text-center mt-2">
                    <a href="{{ url_for('cambiar_password') }}" class="text-decoration-none">Olvidaste la Contraseña</a>
                </p>                   
                <p class="text-center mt-2">
                    <a href="{{ url_for('singin') }}" class="text-decoration-none">¿No tienes una cuenta? Regístrate</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
